<h1><%= t ".title" %></h1>

<% if @user.avatar.attached? %>
<%= image_tag @user.avatar.variant(resize_to_fit: [100, 100])%>
<% end %>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:zipcode) %>:</strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:profile) %>:</strong>
  <%= @user.profile %>
</p>

<p><%=link_to "フォロー", follows_user_path(@user.id) %></p>
<p><%=link_to "フォロワー", followers_user_path(@user.id) %></p>
<% if current_user != @user %>
<% if @user.followed_by?(current_user) %>
<p><%=link_to "フォロー済み", user_user_follow_path(@user.id), method: :delete %></p>
<% else %>
<p><%=link_to "フォローする", user_user_follows_path(@user.id), method: :post %></p>
<% end %>
<% end %>
